<main class="bg-gray-900">
  <div class="container mx-auto h-screen flex-wrap max-w-screen-xl p-4">
    <div class="mx-auto p-4">
      <h1 class="text-3xl font-semibold text-gray-100">Vehicle List</h1>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg h-auto">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Vehicle Plates</th>
            <th scope="col" class="px-6 py-3">Brand</th>
            <th scope="col" class="px-6 py-3">Model</th>
            <th scope="col" class="px-6 py-3">Color</th>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="vehicles$ | async as vehicles">
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              *ngFor="
                let vehicle of vehicles
                  | paginate
                    : {
                        itemsPerPage: 15,
                        currentPage: currentPage,
                        id: 'data'
                      }
              "
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ vehicle.VehiclePlates }}
              </th>
              <td class="px-6 py-4">{{ vehicle.Brand }}</td>
              <td class="px-6 py-4">{{ vehicle.Model }}</td>
              <td class="px-6 py-4">{{ vehicle.Color }}</td>
              <td class="px-6 py-4 text-right">
                <a
                  routerLink="update/{{ vehicle.VehiclePlates }}"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >
                  Edit
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="p-4 flex justify-center items-center text-amber-50">
      <pagination-controls
        (pageChange)="setCurrentPage($event)"
        id="data"
        previousLabel="Previous"
        nextLabel="Next"
      ></pagination-controls>
    </div>
  </div>
</main>
